{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="shortcut icon" type="img/png" href="{% static 'img/favicon.png' %}">
    <title>
        Интеллект Торг |
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'libs/fontawesome-free/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'libs/fontawesome-pro/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
</head>
<body>

<div class="top-menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 d-lg-block d-none slogan">Продукты питания оптом</div>
            <div class="col-lg-9 col-12 d-flex justify-content-lg-end justify-content-between top-menu-items">
                <a href="sale.html" class="d-flex">
                    <i class="fad fa-badge-percent"></i>
                    <div class="top-menu-item d-md-block d-none">Распродажа</div>
                </a>
                <a href="price-list.html" class="d-flex">
                    <i class="fad fa-money-check-alt"></i>
                    <div class="top-menu-item d-md-block d-none">Прайс-лист</div>
                </a>
                <a href="delivery.html" class="d-flex">
                    <i class="fad fa-truck"></i>
                    <div class="top-menu-item d-md-block d-none">Доставка</div>
                </a>
                <a href="contacts.html" class="d-flex">
                    <i class="fad fa-phone-square-alt"></i>
                    <div class="top-menu-item d-md-block d-none">Контакты</div>
                </a>
            </div>
        </div>
    </div>
</div>

<header class="bg-dark sticky-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'main_app:home' %}">
                <img src="{% static 'img/logo2.png' %}" height="45" class="d-inline-block align-top" alt="Интеллект Торг">
            </a>
            <button class="navbar-toggler blue-focus" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav order-lg-0">
                    <li class="nav-item dropdown block-nav-item order-1">
                        <a class="nav-link block-nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            КАТАЛОГ
                        </a>
                        <div class="dropdown-menu drop-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item see-all" href="products.html">Смотреть все</a>
                            {% for menu_category in menu_categories %}
                                <a class="dropdown-item" href="#">{{ menu_category.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown block-nav-item order-lg-1 order-2">
                        <a class="nav-link block-nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            БРЕНДЫ
                        </a>
                        <div class="dropdown-menu drop-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item see-all" href="brands.html">Смотреть все</a>
                            {% for menu_barnd in menu_brands %}
                                <a class="dropdown-item" href="#">{{ menu_barnd.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item order-lg-2 order-0">
                        <form class="form-inline search-wrap">
                            <input class="form-control mr-sm-2 search" type="search" placeholder="Поиск" aria-label="Search">
                            <button class="search-button clr-dark" type="submit">
                                <i class="far fa-search clr-dark" aria-hidden="true"></i>
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="navbar-nav ml-lg-auto order-3">
                    <li class="nav-item phones-wrap">
                        {% for menu_contact_phone in menu_contact_phones %}
                        <a class="phone" href="tel:{{ menu_contact_phone.phone }}">
                            {{ menu_contact_phone.readable_phone }}
                        </a>
                        {% endfor %}
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

{% block content %}
{% endblock %}

<footer class="bg-dark">
    <div class="container bg-dark">
        <div class="row">
            <div class="col-lg-4 col-6 footer-unit">
                <h5>Наши партнеры:</h5>
                <div>Арго Топ</div>
                <div>Топ Лист</div>
            </div>
            <div class="col-lg-4 col-6 footer-unit">
                <h5>Внимание!</h5>
                <div>
                    Данный сайт носит исключительно информационный характер и не является публичной офертой, определяемой положениями ч. 2 ст. 437 ГК РФ. Для получения подробной информации о стоимости, наименовании и сроках оказания услуг, пожалуйста, обращайтесь к менеджерам.
                </div>
            </div>
            <div class="col-lg-4 col-12 footer-unit">
                <h5>Подписка на рассылку:</h5>
                <div>
                    Подпишитесь на нашу рассылку новостей, чтоб быть в курсе всех изменений в номенклатуре товаров — снижении цен, новых позиций, специальных предложений.
                </div>
                <form class="form-inline email-form">
                    <input class="form-control mr-sm-2 email-input" type="email" placeholder="Email" aria-label="Email">
                    <button type="submit" class="email-button">Подписаться</button>
                </form>
            </div>
        </div>
    </div>
</footer>

<div class="under-footer-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-0 text-center text-lg-left">
                <span class="copyright">ООО «Интеллект Торг» © 2019</span>
            </div>
            <div class="col-lg-4 text-center order-lg-1 order-2">
                <img src="{% static 'img/logo.png' %}" alt="" height="30">
            </div>
            <div class="col-lg-4 d-flex justify-content-lg-end footer-contacts justify-content-center order-lg-2">
                <span>
                    {% for menu_contact_phone in menu_contact_phones %}
                        {{ menu_contact_phone.readable_phone }}&nbsp;
                    {% endfor %}
                </span><i class="fab fa-viber"></i> &nbsp;<i class="fab fa-whatsapp"></i>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'libs/infinite/infinite.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/js/bootstrap.min.js' %}"></script>
<script>
    $('.dropdown').on('show.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideDown();
    });

    // Add slideUp animation to dropdown
    $('.dropdown').on('hide.bs.dropdown', function(e){
        $(this).find('.dropdown-menu').first().stop(true, true).slideUp();
    });
</script>
</body>
</html>