{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Доставка
{% endblock %}

{% block content %}
    <div class="container min-80">
        <h2 class="page-title">Условия доставки</h2>
        <div class="row">
            {% for page_description in page_descriptions %}
                <div class="col-12">
                <div class="delivery-unit-wrap">
                    {{ page_description.description | safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}