{% extends 'main_app/base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}">
{% endblock %}
{% block title %}
    Доставка
{% endblock %}

{% block content %}
    <div class="container min-60">
        <h1 class="page-title">Условия доставки</h1>
        <div class="row">
            {% for page_description in page_descriptions %}
                <div class="col-12">
                <div class="delivery-unit-wrap">
                    {{ page_description.description | safe }}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}