{% extends "main_app/base.html" %}
{% load static %}
{% block extra_meta %}
    <meta name="yandex-verification" content="3b2cc4e2a40e55bc" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(61440811, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
<noscript><div><img src="https://mc.yandex.ru/watch/61440811" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta name="keywords" content="{{ meta_keywords }}" />
    <meta name="description" content="{{ meta_description }}">
{% endblock %}
{% block title %}
    Главная
{% endblock %}
{% block extra_link %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'main_app:home' %}">
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for slide in slides %}
                    <li data-target="#carouselExampleCaptions" data-slide-to="{{ slide.index}}" {% ifequal slide.index 0 %}class="active"{% endifequal %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for slide in slides %}
                    <div class="carousel-item {% ifequal slide.index 0 %}active{% endifequal %}">
                        <img src="{{ slide.image.url }}" class="d-block w-100" alt="{{ slide.index }}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{ slide.title }}</h5>
                            <p>{{ slide.description }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

        <div class="container new-products min-60">
            {% if new_products_slice %}
                <h1 class="main-title"><a href="{% url 'main_app:new' %}">Новые поступления:</a></h1>
                <div class="row justify-content-center">
                    {% for new_home_product in new_products_slice %}
                        <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-wrap">

                        {% if new_home_product.is_new %}
                            <div class="new-wrap">
                                NEW
                            </div>
                        {% endif %}

                        {% if new_home_product.discount_percent %}
                            <div class="sale-wrap">
                                <img src="{% static 'img/sale_unit.png' %}" alt="sale" width="90" height="90">
                                <div class="sale-percent">-{{ new_home_product.get_discount_percent }}%</div>
                            </div>
                        {% endif %}

                            <a href="{% url 'main_app:product' new_home_product.slug %}" class="img-wrap">
                                <img src="{{ new_home_product.image.url }}" class="img-fluid" alt="{{ new_home_product.name }}">
                            </a>
                            <a href="{% url 'main_app:product' new_home_product.slug %}" class="product-name-wrap">
                                {{ new_home_product.name }}
                            </a>
                            <div class="price-wrap">
                                {% if new_home_product.discount_percent %}
                                    <span class="old-price">
                                        {{ new_home_product.price }} руб.
                                    </span>
                                    &nbsp;
                                {% endif %}
                                <span class="new-price">
                                    {{ new_home_product.get_price_by_discount }} руб.
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>

    {% if sale_products_slice %}
        <div class="container sale-products">
            <h2 class="main-title"><a href="{% url 'main_app:sale' %}">Распродажа:</a></h2>
            <div class="row justify-content-center">
                {% for sale_home_product in sale_products_slice %}
                    <div class="col-lg-3 col-md-6 col-12">
                        <div class="product-wrap">
                        {% if sale_home_product.is_new %}
                            <div class="new-wrap">
                                NEW
                            </div>
                        {% endif %}

                        {% if sale_home_product.discount_percent %}
                            <div class="sale-wrap">
                                <img src="{% static 'img/sale_unit.png' %}" alt="sale" width="90" height="90">
                                <div class="sale-percent">-{{ sale_home_product.get_discount_percent }}%</div>
                            </div>
                        {% endif %}
                            <a href="{% url 'main_app:product' sale_home_product.slug %}" class="img-wrap">
                                <img src="{{ sale_home_product.image.url }}" class="img-fluid" alt="{{ sale_home_product.name }}">
                            </a>
                            <a href="{% url 'main_app:product' sale_home_product.slug %}" class="product-name-wrap">
                                {{ sale_home_product.name }}
                            </a>
                            <div class="price-wrap">
                                {% if sale_home_product.discount_percent %}
                                <span class="old-price">
                                    {{ sale_home_product.price }} руб.
                                </span>
                                &nbsp;
                                {% endif %}
                                <span class="new-price">
                                    {{ sale_home_product.get_price_by_discount }} руб.
                                </span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if popular_brands_slice %}
        <div class="container popular-brands">
            <h3 class="main-title"><a href="{% url 'main_app:all_brands' %}">Популярные бренды:</a></h3>
            <div class="row">
                {% for popular_brand in popular_brands_slice %}
                    <div class="col-lg-2 col-md-3 col-6">
                    <a href="{% url 'main_app:brand_products' popular_brand.slug %}">
                        <img src="{{ popular_brand.image.url }}" class="img-fluid" alt="{{ popular_brand.name }}">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    {% for page_description in page_descriptions %}
        <div class="container page-description">
            {{ page_description.description | safe }}
        </div>
    {% endfor %}


{% endblock %}
