{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Прайс-лист
{% endblock %}

{% block content %}
<div class="container min-60">
    <h2 class="page-title">Прайс-лист</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 col-12">
            <div class = "price-list-attention">
                Внимание! Для получения актуального прайс-листа,
                напишите на почту или свяжитесь с нами любым другим удобным Вам способом!
                {% for price_list_email in price_list_emails %}
                    <a href="mailto: {{ price_list_email.email }}" class="price-list-mail">{{ price_list_email.email }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
