{% extends 'main_app/base.html' %}
{% load static %}
{% block extra_meta %}
    <meta name="keywords" content="{{ object.keywords }}" />
    <meta name="description" content="{{ object.meta_description }}">
{% endblock %}
{% block title %}
    {{ object.name }}
{% endblock %}
{% block extra_link %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'main_app:product' request.resolver_match.kwargs.slug %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="page-title">{{ object.name }}</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 col-12 one-product-wrap">
                <div class="one-product-img-wrap">
                    <img src="{{ object.image.url }}" class="img-fluid" alt="{{ object.name }}">
                </div>
                <div class="one-product-detail-wrap">
                    <div class="one-product-prices-wrap d-inline-flex">
                        {% if object.discount_percent %}
                            <div class="one-product-old-price">
                                {{ object.price }} руб.
                            </div>
                            &nbsp;
                        {% endif %}
                        <div class="one-product-new-price">
                            {{ object.get_price_by_discount }} руб.
                        </div>
                    </div>
                    <div class="one-product-status-wrap">
                        Статус: <span>{{ object.status }}</span>
                    </div>
                    <div class="in-box">
                        В коробке: <span>{{ object.in_box }}</span>
                    </div>
                    <div class="in-pallet">
                        В паллете: <span>{{ object.in_pallet }}</span>
                    </div>
                    <div class="one-product-category-wrap">
                        Категория:
                        <a href="{% url 'main_app:products_category' object.category.slug %}">
                            {{ object.category.name }}
                        </a>
                    </div>
                    <div class="one-product-brand-wrap">
                        <a href="{% url 'main_app:brand_products' object.brand.slug %}">
                            <img src="{{ object.brand.image.url }}" alt="{{ object.brand.name }}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if similar_products %}
        <h3 class="similar-products-wrap">Похожие товары:</h3>
        <div class="row justify-content-center">
            {% for similar_product in similar_products %}
                <div class="col-lg-3 col-md-6 col-12">
                <div class="product-wrap">
                    {% if similar_product.discount_percent %}
                            <div class="sale-wrap">
                                <img src="{% static 'img/sale_unit.png' %}" alt="sale" width="90" height="90">
                                <div class="sale-percent">-{{ similar_product.get_discount_percent }}%</div>
                            </div>
                    {% endif %}
                    {% if similar_product.is_new %}
                        <div class="new-wrap">
                            NEW
                        </div>
                    {% endif %}
                    <a href="{% url 'main_app:product' similar_product.slug %}" class="img-wrap">
                        <img src="{{ similar_product.image.url }}" class="img-fluid" alt="{{ similar_product.name }}">
                    </a>
                    <a href="{% url 'main_app:product' similar_product.slug %}" class="product-name-wrap">
                        {{ similar_product.name }}
                    </a>
                    <div class="price-wrap">
                        {% if similar_product.discount_percent %}
                            <span class="old-price">
                                {{ similar_product.price }} руб.
                            </span>
                            &nbsp;
                        {% endif %}
                        <span class="new-price">
                            {{ similar_product.get_price_by_discount }} руб.
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
            <div class="col-12">
                <div class="one-product-description">
                    {{ object.description | safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}