{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Все товары
{% endblock %}

{% block content %}
    <div class="container min-60">
        <h1 class="page-title">Все товары</h1>
        <div class="row justify-content-center infinite-container">
            {% if all_products_list %}
                {% for one_product in all_products_list %}
                    <div class="infinite-item col-lg-3 col-md-6 col-12">
                        <div class="product-wrap">

                        {% if one_product.is_new %}
                            <div class="new-wrap">
                                NEW
                            </div>
                        {% endif %}

                        {% if one_product.discount_percent %}
                            <div class="sale-wrap">
                                <img src="{% static 'img/sale_unit.png' %}" alt="sale" width="90" height="90">
                                <div class="sale-percent">-{{ one_product.get_discount_percent }}%</div>
                            </div>
                        {% endif %}

                        <a href="{% url 'main_app:product' one_product.pk %}" class="img-wrap">
                            <img src="{{ one_product.image.url }}" class="img-fluid" alt="{{ one_product.name }}">
                        </a>
                        <a href="{% url 'main_app:product' one_product.pk %}" class="product-name-wrap">
                            {{ one_product.name }}
                        </a>
                        <div class="price-wrap">
                            {% if one_product.discount_percent %}
                                <span class="old-price">
                                    {{ one_product.price }} руб.
                                </span>&nbsp;
                            {% endif %}
                            <span class="new-price">
                                {{ one_product.get_price_by_discount }} руб.
                            </span>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="no-products">
                К сожалению мы еще не добавили товары на сайт. Если у Вас возникли вопросы,
                пожалуйста <a href="{% url 'main_app:contacts' %}">свяжитесь</a> с нами!
            </div>
            {% endif %}
        </div>
    </div>
    <div class="loading" style="display: none;">
        <div class="loader-wrap">
            <a href="#" class="loader" id="loader"></a>
        </div>
    </div>

    {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-description more-margin-top">
                    {% for page_description in page_descriptions %}
                        {{ page_description.description | safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrascripts %}
<script>
    let infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
</script>
{% endblock %}