{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}
    <div class="container min-60">
        <h2 class="page-title">Поиск: <span class="search-query">&#171;{{ request.GET.q }}&#187;</span></h2>
        <div class="row justify-content-center infinite-container">
            {% if products %}
                {% for one_product in products %}
                    <div class="infinite-item col-lg-3 col-md-6 col-12">
                        <div class="product-wrap">

                        {% if one_product.type == 'New' %}
                            <div class="new-wrap">
                                NEW
                            </div>
                        {% elif one_product.type == 'Sale' %}
                            <div class="sale-wrap">
                                SALE
                            </div>
                        {% endif %}

                        <a href="{% url 'main_app:product' one_product.pk %}" class="img-wrap">
                            <img src="{{ one_product.image.url }}" class="img-fluid" alt="{{ one_product.name }}">
                        </a>
                        <a href="{% url 'main_app:product' one_product.pk %}" class="product-name-wrap">
                            {{ one_product.name }}
                        </a>
                        <div class="price-wrap">
                            {% if one_product.old_price %}
                                <span class="old-price">
                                    {{ one_product.old_price }}
                                </span>&nbsp;
                            {% endif %}
                            <span class="new-price">
                                {{ one_product.new_price }}
                            </span>
                        </div>
                    </div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="no-products">
                По запросу &#171;{{ request.GET.q }}&#187; ничего не найдено.
            </div>
            {% endif %}
        </div>
    </div>
    <div class="loading" style="display: none;">
        <div class="loader-wrap">
            <a href="#" class="loader" id="loader"></a>
        </div>
    </div>

    {% if products.has_next %}
        <a class="infinite-more-link" href="?page={{ products.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"></a>
    {% endif %}
{% endblock %}

{% block extrascripts %}
    <script>
        let infinite = new Waypoint.Infinite({
          element: $('.infinite-container')[0],
          onBeforePageLoad: function () {
            $('.loading').show();
          },
          onAfterPageLoad: function ($items) {
            $('.loading').hide();
          }
        });
    </script>
{% endblock %}