{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Подписка на рассылку
{% endblock %}

{% block content %}
    <div class="container min-60">
        <h2 class="page-title">Подписка успешно оформлена!</h2>
        <div class="row">
            <div class="col-12 successful-subscription">
                На указанный Вами адрес электронной почты будет приходить самая актуальная информация о скидках,
                изменении цен и специальных предложениях! <a href="{% url 'main_app:home' %}">Вернуться на главную.</a>
            </div>
        </div>
    </div>
{% endblock %}