{% extends 'main_app/base.html' %}
{% load static %}

{% block title %}
    Подписка на рассылку
{% endblock %}
{% block extra_link %}
    <link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}{% url 'main_app:successful_subscription' %}">
{% endblock %}

{% block content %}
    <div class="container min-60">
        <h1 class="page-title">Подписка успешно оформлена!</h1>
        <div class="row">
            <div class="col-12 successful-subscription">
                На указанный Вами адрес электронной почты будет приходить самая актуальная информация о скидках,
                изменении цен и специальных предложениях! <a href="{% url 'main_app:home' %}">Вернуться на главную.</a>
            </div>
        </div>
    </div>
{% endblock %}